*{
    margin: 0;
    padding: 0;
}
body{     
    background-image: url("../assets/image.webp");        
    background-size: cover;
    background-attachment:fixed;
}
.formContainer {        
    height: 100vh;
    width: 100vw;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.form {        
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;    
    border-radius: 1%;
    background-color:papayawhip;
    opacity: .9;
    height: 600px;
    width: 800px;
}
.form > input, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;    
    margin-bottom: 1rem;
    width: 70%;
    background-color: white;        
}
.form textarea{
    resize: none;
}
.form label{       
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}


.btn {
    margin: 3rem 0;
    
    align-self: center;    
}
.btn input {
    width: 6rem;
    height: 2rem;
    font-size: large;
    color: snow;
    background-color: black;
    border-radius: 5%;
}
.btn input:hover {
    /* background-color: rgb(204, 178, 178); */
    background-color: chocolate;
    color: black;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
.form {
width: 98%;
height: 600px;
}
};