/* reseteo de estilos por defecto */
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* prevenimos que imágenes se muestren más anchas que el ancho de pantalla
(la mejora se  notará especialmente en teléfonos) */
img {
  max-width: 80vw;
}

/* seteamos el fondo en la paleta de colores elegida para elementos clave */
body {
  background-color: rgb(204, 178, 178, 0.4);
}

/* imagen de portada */
.bg-img {
  background-image: url("../assets/coffee-shop-decor.jpg");
  height: 1200px;
  background-repeat: no-repeat;
}

/* estilos de la barra de navegación, la etiqueta semántica <nav>
actúa como contenedor flexible (flex box) */
nav {
  background-color: rgb(204, 178, 178, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 90px;
}
nav img {
  margin-left: 1rem;
  max-height: 80px;
}
nav ul {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 2rem;
  list-style-type: none;
  text-align: right;
  line-height: 1.4;
  display: none;
}
nav a {
  text-decoration: none;
  color: black;
  background-color: rgb(255, 248, 220, 0.9);
  padding: 0 0.2rem;
}

/* esta es la barra que se abre debajo del nav, en dispositivos
móviles, y que contiene los elementos de menú */
.pull-down-menu{
  background-color: rgb(204, 178, 178, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top:90px;
  position: sticky;  
  height: 150px;    
}
.pull-down-menu ul {
  font-size: 1rem;
  text-transform: uppercase;  
  list-style-type: none;
  text-align: center;
  
}
.pull-down-menu li {  
  background-color: rgb(255, 248, 220, 0.9);
  margin: .5rem 0;  
  padding: 0.2rem 0;
}
.pull-down-menu a{
  text-decoration: none;  
  color: black;
  background-color: rgb(255, 248, 220, 0.9);
  padding: 0 0.2rem;
}

/* una clase para quitar y poner de la barra inferior cada vez que se presiona
el botón hamburger */
.invisible {
  visibility:hidden;
}
/* estilo del botón para el menú en dispositivos móviles (hamburger button) */
.fa-bars {
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* estilos de la marca de la casa */
.main-header {
  max-width: 300px;
  max-height: 300px;
  padding: 1rem;
  margin: 20vh auto;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(204, 178, 178, 0.9);
  color: black;
}
.main-header h1 {
  font-family: "Monoton", cursive;
  font-size: 3rem;
  font-weight: 100;
}
.main-img-txt-group h2, h4, p {
  margin-bottom: 1rem;
}
.txt-first-up:first-letter{
  font-family: 'Aguafina Script', cursive;
  float: left;
  color:white;
  background-color: black;
  padding: 1rem 1rem 0 1rem;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: .8;
  margin: 0.2rem 0.4rem 0.1rem 0rem;    
}

/* estilos de la sección <main> */
main  {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

main h2 {
  font-size: 2rem;
}
.img-main {
  margin: 2rem 0;
  width: 79vw;
}
hr {  
  margin: 1rem 0 2rem 0;
}

/* aside */
aside {
  display: none;
}

/* artículo secundario */
.article-bottom {
  display: flex;
  flex-direction: column;  
  align-items: center;
  margin-bottom: 10rem;
}
.header-bottom {  
  text-align: center;
  text-transform: uppercase;  
  padding: 1rem;
  margin: 10rem 0 2rem 0;
  color: white;
}
.header-bottom h2:nth-child(even){
  font-size: 3rem;
}
.bg-black {
  background-color: black;
}
.bg-blue {
  background-color: rgb(26, 102, 163);
}

/* flecha para ir a top */
.arrow-up {
  display: flex;
  height: 5rem;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.arrow-up a {
  color: black;
}

/* estilos del footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
  margin: 15rem 0 0 0;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid;
  padding: 2rem 0;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.footer-icons {
  background-color: rgb(233, 227, 153);
  font-size: 1.4rem;
  padding: 1rem 0;
}
.footer-contact,
.footer-map,
.footer-social {
  margin: 1rem 0 4rem 0;
}
footer a {
  color: black;
  text-decoration: none;
}

/* diseño adaptable (responsive design) */
@media (min-width: 720px) {
  nav {
    height: 120px;
  }
  .fa-bars {
    display: none;
  }
  nav img {
    max-height: 110px;
  }
  nav ul {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    display: inline-block;
  }
  nav li {
    display: inline-block;
    background-color: rgb(255, 248, 220, 0.9);
    width: 7rem;
    padding: 0.2rem 0;
  }
  nav a {
    background-color: transparent;
  }
  .main-art-x2{
    padding: 2rem 1rem;
    border:1px solid  darkgray;
    border-radius: .5rem;
  }
  .main-img-txt-group {    
    display: flex;
    flex-direction: column;    
  }
  .img-txt{
    display: block;
  }
  .img-txt img {
   width:45%;
   float:right;
   margin-left: 1.5rem;   
  }
  .img-main{
    width: 50%;
  }
  main article {
    flex-flow: row wrap;
  }

  .header-bottom {  
    text-align: left;
    text-transform: uppercase;  
    padding: 1rem;
    margin: 10rem 0 2rem 0;
    color: white;
  }
  .header-bottom h2:nth-child(even){
    font-size: 3.5rem;    
  }
  
  }

@media (min-width: 1024px) {

  main {    
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    
  }
  aside {
    display: flex;
    padding: 1rem;    
    width: 30vw;    
    background-color:rgb(174, 187, 174)  ;
    border-radius: .5rem;
  }
    
  .main-art-x2 {    
    padding:1rem;
    width: 55vw;    
    display:flex;
    flex-direction: column;    
  }

}
 @media (min-width: 1025px){
   body {
     max-width: 1200px;
     margin: auto;
   }
 }

